################################################################################
# Project specific ignored items
################################################################################

/node_modules/

/App/**/*.js
/App/**/*.map
/npm-debug.log
